*.log
*.spec
!config.yaml.example
config.yaml
*.env
*.txt
*.pdf
*.xlsx
!info.txt
!requirements.txt
__pycache__/
/venv/
/.venv/
/build/
/dist/
/logs/
/relatorios/
/user_profile/
sinal_parar.tmp
.local/
